.barBanner {
  padding-top: 100px;

  a {
    margin: 0 auto;
    display: block;
    height: 140px;
    width: 1050px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }
}
