main {
  .titGoods {
    padding: 79px 0 35px 0;
    text-align: center;
    .tit {
      line-height: 32px;
      color: #333333;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: -2px;
    }
  }
}
