.barBanner {
  a {
    display: block;
    margin: 0 auto;
    height: 140px;
    width: 1050px;
    background-image: url('https://img-cf.kurly.com/shop/data/main/5/pc_img_1632901578.jpg');
    background-size: cover;
    font-size: 0;
  }
}
