@import '../../../../styles/variables';

.subCategoryNameLinkWrapper {
  padding-left: 20px;
  height: 39px;
  line-height: 39px;

  .subCategoryNameLink {
    color: #4c4c4c;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      color: $themeColorPrimary;
      text-decoration: underline;
    }
  }
}
