.slide {
  justify-self: left;
  height: 370px;
  width: 100%;
  min-width: 1050px;
  a {
    display: block;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}
