.Carousel {
  width: 100%;

  .sliderWrap {
    margin: 0 auto;
    width: 1050px;
    overflow: hidden;

    ul {
      display: flex;
      gap: 18px;
      transition: transform 0.6s;
    }
  }

  .sliderCtrl {
    position: relative;
    margin: 0 auto;
    width: 1110px;
    background-color: red;

    button {
      position: relative;
      bottom: 370px;
      height: 60px;
      width: 60px;
      border: none;
      border-radius: 200px;
      background: transparent;
      cursor: pointer;
      transition: background-image 0.2s;

      &.prev {
        float: left;
        background-image: url('https://res.kurly.com/pc/service/main/1908/btn_prev_default.png?v=1');

        &:hover {
          background-image: url('https://res.kurly.com/pc/service/main/1908/btn_prev_default_hover_x1.png?v=1');
        }
      }

      &.next {
        float: right;
        background-image: url('https://res.kurly.com/pc/service/main/1908/btn_next_default.png?v=1');

        &:hover {
          background-image: url('https://res.kurly.com/pc/service/main/1908/btn_next_default_hover_x1.png?v=1');
        }
      }
    }
  }
}
