.Carousel {
  .Slide {
    height: 506px;

    dl {
      position: relative;

      dt.productThumb {
        height: 320px;
        width: 249px;
        overflow: hidden;

        img {
          width: 100%;
          transition: all 0.4s;
        }

        &.bounce img {
          transform: scale(1.03);
        }

        .specialFeatureTag {
          display: block;
          position: absolute;
          height: 32px;
          width: 79px;
          line-height: 32px;
          color: #ffffff;
          background-color: #5e9150;
          font-size: 14px;
          text-align: center;
          z-index: 100;
        }
      }

      dd.productInfo {
        width: 249px;

        h4 {
          margin-top: 12px;
          max-height: 50px;
          line-height: 23px;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            color: #333333;
            text-decoration: none;
          }
        }

        span {
          display: block;
          max-height: 50px;
          font-size: 16px;

          &.price {
            padding-top: 9px;
            line-height: 20px;
            font-weight: 700;
          }

          &.discount {
            display: inline-block;
            margin-right: 8px;
            color: #fa622f;
          }

          &.cost {
            display: block;
            padding-top: 5px;
            color: #999999;
            line-height: 18px;
            font-size: 14px;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
