@import '../../../styles/variables';

.scrollBtns {
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 1050px;
  background-color: #fff;
  z-index: 10;

  .scrollBtn {
    border: 1px solid #eeeeee;
    outline: 0;
    background-color: #fafafa;
    width: 262.5px;
    height: 65px;
    font-size: 22px;
    cursor: pointer;
  }

  .clicked {
    color: $themeColorPrimary;
  }
}
