@import '../../styles/variables';

.SignUp {
  margin-bottom: 120px;

  * {
    font-family: noto sans, malgun gothic;
  }

  .signUpContainer {
    width: 640px;
    margin: 0 auto;
    text-align: center;

    h2 {
      margin: 50px 0 50px;
      font-size: 28px;
      font-weight: 600;
      color: #333;
      line-height: 35px;
      text-align: center;
    }

    p.asterisk {
      padding: 0px 20px 10px;
      font-size: 12px;
      color: #666;
      text-align: right;
    }

    span.asterisk {
      margin: 0 5px 0 5px;
      color: #ee6a7b;
    }

    table {
      margin-bottom: 40px;
      border-top: 2px solid #333;

      tr {
        &:nth-child(1) {
          th {
            padding-top: 30px;
          }
          td {
            padding-top: 20px;
          }
        }
      }

      th {
        width: 159px;
        padding: 20px 0 0 20px;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        line-height: 20px;
        text-align: left;
      }

      td {
        padding: 10px 0;
        font-size: 14px;
        text-align: left;
        vertical-align: top;

        > input {
          width: 332px;
          height: 44px;
          padding: 0 14px;
          border: 1px solid #ccc;
          font-size: 14px;
          color: #333;
          line-height: 20px;
          border-radius: 3px;
          background: #fff;
          outline: none;
          vertical-align: top;
        }
      }

      .btnAccountDup,
      .btnEmailDup {
        width: 120px;
        height: 44px;
        margin-left: 7px;
        border: 1px solid $themeColorPrimary;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 700;
        color: $themeColorPrimary;
        line-height: 40px;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
      }

      .gender {
        padding: 17px 0;

        label {
          margin-right: 40px;
        }

        input[type='radio'] {
          width: 20px;
          height: 20px;
          margin-right: 15px;
          vertical-align: -5px;
        }
      }

      .birthday {
        td {
          padding-bottom: 30px;
        }

        .yyyymmdd {
          width: 332px;
          padding-left: 18px;
          border: 1px solid #ccc;
          border-radius: 3px;
          color: #ccc;

          > input {
            width: 84px;
            height: 44px;
            padding: 0 14px;
            border-style: none;
            outline: none;
            font-size: 14px;
            text-align: center;
          }

          span {
            padding: 0 11px 0 11px;
          }
        }
      }

      .policies {
        border-top: 1px solid #333;
        border-bottom: 1px solid #f4f4f4;

        th {
          padding-top: 28px;
        }

        td {
          div {
            margin-top: 18px;

            &.age {
              margin-bottom: 20px;
            }

            label {
              font-size: 14px;

              &.agreeAll {
                font-size: 18px;
                font-weight: 500;
              }

              input[type='checkbox'] {
                position: absolute;
                opacity: 0;
              }

              .icoUnchecked,
              .icoChecked {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin: 0 10px 0 0;
                vertical-align: -8px;
              }

              .icoUnchecked {
                background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox.svg)
                  no-repeat;
              }

              .icoChecked {
                background: url(https://res.kurly.com/pc/service/common/2006/ico_checkbox_checked.svg)
                  no-repeat;
              }
            }
          }
        }

        .required,
        .optional {
          margin-left: 5px;
          color: #999;
        }

        .btnPolicy {
          float: right;
          border: none;
          font-size: 14px;
          color: $themeColorPrimary;
          line-height: 23px;
          background-color: #fff;
          cursor: pointer;
        }

        .smsEmail {
          padding-left: 34px;

          .email {
            margin-left: 80px;
          }
        }

        .noti1 {
          padding-left: 34px;
          font-size: 13px;
          color: #666;
          line-height: 20px;
        }

        .noti2 {
          margin: 10px 0 0 68px;
          padding-left: 20px;
          font-size: 13px;
          color: $themeColorPrimary;
          line-height: 20px;
          background: url(https://res.kurly.com/pc/service/common/2006/ico_sub_dot.svg)
            no-repeat;
          span {
            color: #999;
          }
        }
      }
    } // table

    .btnSignUp {
      width: 240px;
      height: 56px;
      margin: auto 0;
      border: 1px solid;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      background-color: $themeColorPrimary;
    }
  } // signUpContainer

  .dim {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
}
